*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple: rgb(110, 19, 110);
    --light-purple: rgb(218, 63, 218); 
  }

/* HEADER STYLE */

.header {
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .header-title {
    padding: 50px;
    padding-right: 60px;
    float: left;
    font-size: 18px;    
}

.header .header-title .highscore {
    padding: 10px;
    float: left;
    font-size: 18px; 
    border: none;
    background-color: white;  
    color: var(--light-purple);
}

.header .header-title .highscore:hover { 
    color: var(--purple);
}

/* END HEADER STYLE */

/* START PAGE CONTENT STYLE */

.start-page {
    padding: 20px;
    text-align: center;
}

.start-content, .start-button-class {
    padding: 20px;
}

.start-text h1{
    font-size: 40px;
}

.start-text p{
    font-size: 19px;
}

.start-button-class .button {
    background-color: var(--purple);
    border-radius: 12px;
    color:white;
    padding:12px 28px;
    font-size: 17px;
}

.start-button-class .button:hover {
    background-color: var(--light-purple);
}


/* END START PAGE CONTENT STYLE */




